@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,900&display=swap');
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  overflow-x: hidden;
  overflow-y: hidden;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}


.navbar {
  width: 100%;
  height: 60px;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar a {
  text-decoration: none;
  color: white;
}

.navbar-inside-left {
  width: 50%;
  display: flex;
  align-items: center;
}

.logo {
  margin-left: 20px;
  font-weight: 700;
  font-size: 1.4rem;
}

.nav-items {
  margin: 10px;
  padding: 15px;
  border-radius: 8px;
  text-decoration: none;
  list-style: none;
  font-size: 1rem;
  font-weight: 500;
}

.navbar-inside-right {
  width: 50%;
}

.navbar-inside-right ul {
  display: flex;
  justify-content: end;
  margin-right: 15px;
}

section {
  width: 100%;
  height: auto;
  margin-top: 50px;
}

.india-headlines {
  margin-top: 100px;
}

.india-headline-body {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 7px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin: 20px;
  max-width: 350px;
}

.card img {
  width: 100%;
  height: auto;
}

.card-content {
  padding: 20px;
}

.card-content p {
  margin-top: 0;
  font-weight: 700;
  font-size: 16px;
}

.collapsible {
  background-color: #f2f2f2;
  color: #444;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  border: 1px solid #444;
  border-radius: 5px;
  text-align: left;
  outline: none;
  transition: background-color 0.3s;
  font-weight: 700;
  font-size: 14px;
  margin-top: 25px;
}

.collapsible:hover {
  background-color: #ddd;
}

.content {
  display: none;
  padding: 10px 0;
  text-align: center;
}

.content p {
  border: .5px solid black;
  padding: 10px;
  margin: 5px;
  font-weight: 600;
}

.read-button {
  display: inline-block;
  background-color: #007bff;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  text-decoration: none;
  margin-top: 10px;
}


.BusinessAllBody {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 25px;
}

.section-title {
  text-decoration: underline;
  text-align: center;
}

.SportsBody {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.nav-items:hover {
  background-color: white;
  color: black;
}

.loadbox {
  width: 100%;
  height: 100vh;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.toggle {
  display: none;
}

@media (min-width: 200px) and (max-width: 600px) {
  .toggle {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.35rem;
    text-align: center;
  }

  .logo{
    font-size: 1.35rem;
  }

  .navbar {
    flex-direction: column;
  }

  .navbar-inside-right ul {
    flex-direction: column;
    background-color: black;
    display: flex;
    width: 100%;
    height: 100%;
  }

  .navbar-inside-left {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 5px;
    padding-right: 15px;
  }

  .navbar-inside-right {
    display: none;
    width: 100%;
    height: 100vh;
    text-align: center;
  }

  .navbar-inside-right ul a {
    width: 100%;
    height: 100%;
  }

  .navbar-inside-right ul a li {
    color: white;
  }
}